{{/*
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{ define "head-import" }}
{{ $common := resources.Get "scss/home.scss" }}
{{ $custom := resources.Get "scss/main.scss" }}
{{ $style := slice $common $custom | resources.Concat "scss/bundle.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
{{- $pages := where (where .Site.RegularPages "Section" "components") "Params.description" "!=" "" }}
{{- if ne .Site .Sites.Default }}
  {{- $firstPages := where (where .Sites.Default.RegularPages "Section" "components") "Params.description" "!=" "" }}
  {{- $pages = $pages | lang.Merge $firstPages }}
{{- end }}
{{- $components := sort $pages }}
<section id="kHeader" class="carousel slide overlay" data-bs-ride="carousel">
  <div class="carousel-inner" role="listbox">
    {{ range $idx, $val := $components }}
    <article class="carousel-item dark-text{{ if eq $idx 0 }} active{{ end }}">
      <div class="carousel-item-content">
        <div class="slide-background" style="background-image: url({{ $val.Params.screenshot }})"></div>
        <div class="carousel-text-overlay">
          <h1>{{ $val.Title }}</h1>
          <p>{{ $val.Params.shortDescription }}</p>
          <a href="#{{ $val.Title | lower }}" class="learn-more smooth-scroll">{{ i18n "learn-more" | humanize }}</a>
        </div>
      </div>
    </article>
    {{ end }}
  </div>

  <ol class="carousel-indicators">
    {{ range $idx, $val := $components }}
    <li data-bs-target="#kHeader" data-bs-slide-to="{{ $idx }}"{{ if eq $idx 0 }} class="active"{{ end }}></li>
    {{ end }}
  </ol>
</section>

<main aria-label="Content" id="content">
  <aside id="kWelcome" class="container alert alert-info">
    <p>{{ i18n "welcome-msg" }}</p>
  </aside>

  <div class="container">
    {{ range $components }}
    <a name="{{ .Title | lower }}" id="{{ .Title | lower }}" class="product-anchor"></a>
    <div class="block">
      <div class="kAppInfo">
        <div class="kAppInfo-content">
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <p>{{ .Description }}</p>
          <p><a href="{{ .Permalink }}" class="learn-more">{{ i18n "read-more" | humanize }}</a></p>
        </div>
        <img src="{{ .Params.screenshot }}" class="preview" alt="{{ .Title }}">
      </div>
    </div>
    {{ end }}
  </div>

  <section class="section-green py-4">
    <div class="container">
      <h2 class="mb-3 h1">{{ i18n "news" }}</h2>
      <div class="row">
      {{ $pages := (.Site.GetPage "/blog").RegularPagesRecursive }}
      {{ range .Site.Home.Translations }}
      {{ $pages = $pages | lang.Merge (.Site.GetPage "/blog").RegularPagesRecursive }}
      {{ end }}
      {{ range first 4 (where $pages "Params.hidden" "ne" "true") }}
        <div class="col-12 col-md-6 mb-4">
          <div class="text-lighter">{{ partial "i18n_date.html" . }}</div>
          <h3 class="mt-1 h4">{{ .Title | safeHTML}}</h3>
          <div class="post-entry mt-3">
            {{ if .Description }}
              {{ .Description }}
            {{else}}
              {{ .Summary }}
            {{end}}
            {{ if .Truncated }}
              <a href="{{ .Permalink }}" class="d-block mt-2">{{i18n "read-more" }}</a>
            {{ end }}
          </div>
        </div>
      {{end}}
      </div>
      <a href="blog/" class="learn-more mt-3" style="font-weight: bold;">&#x1F4E2; {{ i18n "view-all-news" }}</a>
    </div>
  </section>
</main>
{{ end }}
